/* GENERAL STYLES */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}


/* UTILITIES */
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
  padding: 0 16px;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.h-400 {
  height: 400px;
}

.w-70 {
  width: 70%;
}

.relative {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-center-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* HEADER */

.navbar {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 80px;
}

.img-logo {
  margin-top: 5px;
}

.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 80%;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.menu-nav li:nth-last-child(2) a{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}


/* JUMBOTRON */
#jumbotron {
  height: 550px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

#jumbotron h1 {
  font-weight: 600;
  font-size: 48px;
}

#jumbotron h3 {
  font-weight: 400;
  padding: 25px 0 18px;
  font-size: 16px;
}


/* PRODOTTI */
#products {
  margin-top: 50px;
  margin-bottom: 50px;
}
#products .box {
  padding: 75px 75px 35px;
  text-align: center;
  background: #fafafa;
}

#products .box .cta {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: blue;
}

#products .box a::after,
#smart a::after {
  content: '\276F';
  display: inline-block;
  margin-left: 10px;
}
#products .box h2,
#products .box h4 {
  font-weight: 400;
}

#products .box h2 {
  margin-bottom: 21px;
  font-size: 38px;
}
#products .box h4,
#smart h4 {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 100;
}

#products .box img {
  max-width: 100%;
  width: 230px;
  margin-top: 21px;
}

/* HOW WORKS */
.how-works-bg {
  height: 400px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: center;
}

#how-works img {
  max-width: 100%;
}

#how-works .contents {
  padding-bottom: 60px;
}

#how-works .col-sx,
#how-works .col-dx {
  padding-top: 120px;
}

#how-works . {
  text-align: right;
}

#how-works . h3 {
  font-weight: 600;
  font-size: 30px;
  width: 190px;
  display: inline-block;
  text-align: left;
}

#how-works .img-phone {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
}


/* smart */

#smart {
  background: red;
  height: 400px;
  text-align: center;
  background: url('../img/ScooterHelbiz-2400.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  vertical-align: middle;
}

#smart h3 {
  font-size: 36px;
}

/* download */
#download #get-app {
  background: #384959;
}

.fa-bars {
  color: #000;
}
@media all and (max-width:768px) {
  .how-works-bg {
    background-position: 20%;
  }

  #how-works .img-phone {
    bottom: 60%;
    width: 300px;
  }

  #how-works .col-dx {
    padding-top: 10px;
}

#menu-toggle {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.img-logo {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 2;
}

.main-header {
  height: 70px;
  top: 0px;
  background-color: #fff;
  z-index: 1;
}

.menu-nav {
  display: none;
}

#smart {
  background-position: 20% 0;
}

}


@media all and (min-width:769px) {
  #menu-toggle
  {
    display: none;
  }
}
